section.section-3
    .container
        .section-3__wrap
            .section-3__image
                img(src="./assets/images/section4-main.png" alt="Thêm Một Bạn Thêm Ngàn Niềm Vui!" data-aos="fade-right" data-aos-duration="500" data-aos-delay="150")
            .section-3__content
                h3.section-3__title
                    div(class=".section-3__title-main" data-aos="fade-left" data-aos-duration="500" ) Thêm Một Bạn
                    div(class="section-3__title-sub" data-aos="fade-left" data-aos-duration="500" data-aos-delay="150") Thêm Ngàn Niền Vui!
                p(class="section-3__desc" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300") Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
                div(class="section-3__buttons" data-aos="fade-left" data-aos-duration="500" data-aos-delay="450")
                    a(href="#!" class="button-outline") Giới Thiệu <i class="fa-regular fa-circle-play"></i>
                    a(href="#!" class="button") Khám Phá Ngay